<polymer-element name="progress-bar" attributes="progress">
  <template>
    <link rel="stylesheet" href="progress-bar.css"/>
    <div class="wrapper">
      <div id="progress" style="width: {{progress}}%">
        <content></content>
      </div>
    </div>
  </template>
  <script>
    (function() {
      Polymer({
        progress: 30,
        progressChanged: function (oldVal, newVal) {
          if (parseInt(newVal, 10) === 100) {
            this.fire('complete');
          }
        }
      });
    })();
  </script>
</polymer-element>