<polymer-element name="progress-bar" attributes="progress color">
  <template>
    <link rel="stylesheet" href="progress-bar.css"/>
    <div class="wrapper">
      <div id="progress" style="background-color: {{color}}; width: {{progress}}%">
        <content></content>
      </div>
    </div>
  </template>
  <script>
    Polymer({
      progressChanged: function (oldVal, newVal) {
        if (parseInt(newVal, 10) === 100) {
          this.fire('complete');
        }
      }
    });
  </script>

</polymer-element>